.main-project-page{

    @media screen and (max-width:768px) {
    }

    .container{
        display: flex;
        width: 90%;
        margin-left: 10rem;
        top: 15%;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
            display: none;
            flex-direction: column; // Stack flex items vertically for mobile screens
            align-items: center; // Center align items vertically
            margin-top: 20px; // Optionally add margin to the top of container
        }
    }
        
    .box{
        flex: 1;
        margin-right: 2rem;
        height: 70%;
        width: 100px;
        background: rgba( 255, 255, 255, 0.1 );
        box-shadow: 0 8px 32px 0 rgba(199, 119, 0, 0.219);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

        @media screen and (max-width: 768px) {
            height: 100px;
            width: 200px;
        }
    }

    &:first-child{
        margin-left: 7rem;
    }

}
