.Logo-container{
    z-index: 0;
    width: 500px;
    height: 709px;
    position: absolute;
    top: 30rem;
    right: 15%;
    bottom: 0;
    margin: auto;
    left: 80rem;
    opacity: 1;
}

.solid-logo{
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(30deg);
    z-index: 1;
}

svg{
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg);
}

.cls-1 {
    stroke: #00fafd;
    stroke-linejoin: miter;
    stroke-width: 0.5px;
    font-size: 72px;
    letter-spacing: -8px;
    fill: none;
    text-anchor:0;
    font-family: "Gill Sans Ultra Bold Condensed";
}