    .text-zone{
        position: absolute;
        top: 50%;
        left: 10%;
        text-align: left;
        transform: translateY(-50%);
        width: 45%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
    }

    .About{
        font-size: 53px;
        font-family: 'Coolvetica';
        color: aqua;
        font-weight: 600;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 10px;

        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            position: absolute;
            bottom: 65px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
        }
        &::after{
            content: '</h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            position: absolute;
            bottom: -20px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
        }
    }

    p{
        font-size: 17px;
        color: antiquewhite;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
        font-weight: 100;
        min-width: fit-content;
        text-align: justify;
        animation: pulse 1s;

        &:nth-of-type(1){
            animation-delay: 1.1s;
        }

        &:nth-of-type(2){
            animation-delay: 1.2s;
        }

        &:nth-of-type(3){
            animation-delay: 1.3s;
        }

    }

    .letterClass{
        animation: both;
    
        &:hover {
            animation: rubberBand 1s;
            color: aqua;
          }
    }
    
    .text-animate {
        display: inline-block;
        opacity: 0;
        animation: bounceIn;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        min-width: 10px;
      }
      
      .text-animate-hover {
        min-width: 10px;
        display: inline-block;
        animation-fill-mode: both;
      
        &:hover {
          animation: rubberBand .5s;
          color: aqua;
        }
      }