.home-page{

    .text-zone{
        position: absolute;
        left:10%;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 40%;
        max-height: 90%;

    }

    .Home{
        color: white;
        letter-spacing: 8px;
        font-size: 60px;
        margin: 0;
        font-family: 'Coolvetica';
        line-height: 50px;

        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: aqua;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after{
            content: '</h1>';
            font-family: 'La Belle Aurore';
            color: aqua;
            font-size: 18px;
            position: absolute;
            margin-top: 5rem;
            margin-left: -47rem;
            -webkit-animation: fadeIn 1s 1.7s backwards;
                    animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

        img{
            opacity: 1;
            width: 50px;
            position: absolute;
            margin-top: -1.5rem;
            margin-left: -0.5rem;
            height: auto;

            &:hover{
                -webkit-animation: fadeIn 1s 1.7s backwards;
                animation: fadeIn 1s 1.7s backwards;
                animation: rubberBand 0.7s both;
            }

        }
    }

    h2{
        color: #b6b6b6;
        font-family: 'Coolvetica';
        margin-top: 20px;
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 3px;
        -webkit-animation: fadeIn 1s 1.8s backwards;
                animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button{
        color: aqua;
        font-size: 17px;
        font-weight: 100;
        letter-spacing: normal;
        font-family: 'Coolvetica';
        letter-spacing: 5px;
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border: 1px solid aqua;
        margin-top: 25px;
        -webkit-animation: fadeIn 1s 1.8s backwards;
                animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover{
            background: rgb(0, 207, 207);
            color: #333;
        }
    }

    .letterClass{
        -webkit-animation: both;
                animation: both;

        &:hover {
            -webkit-animation: rubberBand 1s;
                    animation: rubberBand 1s;
            color: aqua;
          }
    }
}

.home-page {
    .text-zone {
      @media screen and (max-width: 768px) {
        margin-top: 30rem;
        left: 5%;
        width: 100%;
        margin-left: 4rem;
      }
    }
  
    .Home {
      @media screen and (max-width: 768px) {
        font-size: 40px;
        letter-spacing: 5px;
        line-height: 50px;
  
        &::before,
        &::after {
          font-size: 14px;
          opacity: 0;
        }
  
        img {
          width: 50px;
          margin-top: -1.4rem;
          margin-left: -1.3rem;
        }
      }
    }
  
    h2 {
      /* Existing styles */
  
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
  
    .flat-button {
      @media screen and (max-width: 768px) {
        font-weight: 100;
        font-size: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 15px;
      }
    }
  
    .letterClass {
      /* Existing styles */
  
      @media screen and (max-width: 768px) {

      }
    }
  }
  