.text-zone{
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: left;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    .contact{
        font-size: 53px;
        font-family: 'Coolvetica';
        color: aqua;
        font-weight: 600;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 10px;
    
        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            position: absolute;
            bottom: 65px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
        }
        &::after{
            content: '</h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            position: absolute;
            bottom: -20px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
        }
    }
}

.letterClass{
    -webkit-animation: both;
            animation: both;

    &:hover {
        -webkit-animation: rubberBand 1s;
                animation: rubberBand 1s;
        color: aqua;
      }
}

.text-animate {
    display: inline-block;
    opacity: 0;
    -webkit-animation: bounceIn;
            animation: bounceIn;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    min-width: 10px;
  }
  
  .text-animate-hover {
    min-width: 10px;
    display: inline-block;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  
    &:hover {
      -webkit-animation: rubberBand .5s;
              animation: rubberBand .5s;
      color: aqua;
    }
}

