.Image1{
    position: absolute;
    height: 400px;
    margin-top: 20px;
    left: 10rem;
    border-radius: 30px;
    box-shadow: 6px 2px 20px #4b4b4b;

    &:hover{
        transform: scale(1.01);
        transition: 0.6s;
    }
}

.Image2{
    position: absolute;
    height: 400px;
    margin-top: 20rem;
    left: 33.5rem;
    border-radius: 30px;
    box-shadow: 6px 2px 20px #4b4b4b;

    &:hover{
        transform: scale(1.01);
        transition: 0.6s;
    }
}

.Image3{
    position: absolute;
    height: 405px;
    margin-top: 20px;
    left: 58.5rem;
    border-radius: 30px;
    box-shadow: 6px 2px 20px #4b4b4b;

    &:hover{
        transform: scale(1.01);
        transition: 0.6s;
    }
}

.Image4{
    position: absolute;
    height: 405px;
    margin-top: 19rem;
    left: 84rem;
    border-radius: 30px;
    box-shadow: 6px 2px 20px #4b4b4b;

    &:hover{
        transform: scale(1.01);
        transition: 0.6s;
    }
}

.Image5{
    position: absolute;
    height: 405px;
    margin-top: 20px;
    left: 108rem;
    border-radius: 30px;
    box-shadow: 6px 2px 20px #4b4b4b;

    &:hover{
        transform: scale(1.01);
        transition: 0.6s;
    }
}

.tags{
    opacity: 0;
}

.Quote1{
    margin-top: 45rem;
    color: bisque;
    position: absolute;
    left: 10rem;
    font-family: La Belle Aurore;
    font-size: 20px;
    animation: pulse 3s;
    animation-delay: 1s;
}

.Quote2{
    color: bisque;
    margin-top: 10rem;
    left: 55vh;
    position: absolute;
    font-family: La Belle Aurore;
    font-size: 20px;
    animation: pulse 3s;
    animation-delay: 1s;
}

.Quote3{
    color: bisque;
    margin-top: 45rem;
    position: absolute;
    left: 60rem;
    font-family: La Belle Aurore;
    font-size: 20px;
    animation: pulse 3s;
    animation-delay: 1s;
}

.Quote4{
    color: bisque;
    margin-top: 12rem;
    position: absolute;
    left: 133vh;
    font-family: La Belle Aurore;
    font-size: 20px;
    animation: pulse 3s;
    animation-delay: 1s;
}